<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gckakaowebguideapi20250725020510.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/70c8d128-1cdd-4966-8ee5-84811f0b0b2a/resourcegroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/GcKakaoWebGuideAPI20250725020510</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://gckakaowebguideapi20250725020510.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>